@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: rgb(150 163 189);
    --secondary: rgb(209, 209, 209);
    --accent: rgb(94 234 212);
    --accentBg:rgba(45, 212, 191, .3)
    --text-light: rgb(255, 255, 255);
    --text-dark:#e2e8f0;
    --background: rgb(15 23 42);
    --herobackground: rgba(45, 212, 191, .3);
  }

  .theme-dark {
    --primary: #c5c6c7;
    --secondary: rgb(209, 209, 209);
    --accent: #45a29e;
    --text-light: rgb(0, 0, 0);
    --text-dark: rgb(255, 255, 255);
    --background: #1f2833;
    --herobackground: rgb(239, 242, 241);
  }
}

body{
  background-color: rgb(15 23 42);
}