@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: rgb(255,250,250);
    --secondary: rgb(209, 209, 209);
    --accent: rgb(94 234 212);
    --accentBg:rgba(45, 212, 191, .3)
    --text-light: rgb(255, 255, 255);
    --text-dark:#e2e8f0;
    --background: rgb(15 23 42);
    --herobackground: rgba(45, 212, 191, .3);
  }
}

body{
  background-color: rgb(15 23 42);
} 